[submodule "app"]
	path = app
	url = https://github.com/Apesensei/NightBFF-backend.git
	branch = integration/250619-ios-sync
[submodule "nightbff-frontend"]
	path = nightbff-frontend
	url = https://github.com/Apesensei/nightbf.git
	branch = integration/250619-ios-sync
