[submodule "backend"]
	path = backend
	url = https://github.com/Apesensei/NightBFF-backend.git
	branch = chore/seeder-unification
[submodule "nightbff-frontend"]
	path = nightbff-frontend
	url = https://github.com/Apesensei/nightbff-frontend.git
	branch = integration/250619-ios-sync
